color = #EEE

::selection
  background-color: darken(color, 80%) - rgba(0,0,0,.8)

*
  font-family: IRANSans !important

body
  font-family: IRANSans

  h1
    font-weight: bold
    margin-bottom: 20px

  h3
    margin-bottom: 30px

  h4
    margin-bottom: 20px
